<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360756867997-389u0ufv034ntd2sing18gdifbqf4icu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360756867997-389u0ufv034ntd2sing18gdifbqf4icu</string>
	<key>API_KEY</key>
	<string>AIzaSyBkuLaUSzQ2SfPs9MM5hjngh4mPxg0-DQo</string>
	<key>GCM_SENDER_ID</key>
	<string>360756867997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>innopolis.university.newsApp</string>
	<key>PROJECT_ID</key>
	<string>news-app-21371</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-21371.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360756867997:ios:c6876279b1044860ac7574</string>
</dict>
</plist>